<div class="footer-call-to-action container-fluid purple px-sm-5 py-5">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col px-0">
        <div class="mx-auto footer-header">
          <h1>Want more information?</h1>
          <large class="text-center footer-subheader">
            {{ .Params.cta_text }}
          </large>
          <br>
          <large class="footer-subheader">{{ .Params.contact_1 }}</large>
          {{ if .Params.contact_2 }}
            <br>
            <large class="footer-subheader">{{ .Params.contact_2 }}</large>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<footer class='footer'>
  <div id="footer" class="hexawise-container container">
    <div id="footer-logo" class="col-12 text-center">
      <img src="/img/header-logo.svg">
    </div>
    <div id="hexawise-info" class="row w-100 mx-0 mt-4">
      <div class="col-12 text-center">
        <label>
          Hexawise, Inc. ©2009-2021
          <br>
          2530 Meridian Parkway Suite 300 Durham, NC 27713
        </label>
      </div>
    </div>
</footer>
<script defer src="/static/fontawesome/fontawesome-all.js"></script>
