<div class="footer-call-to-action container-fluid purple px-sm-5 py-5">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col px-0">
        <div class="mx-auto footer-header">
          <h1>Want more information?</h1>
          <large class="text-center footer-subheader">
            Reach out to the below contacts to learn more about the significant benefits that were achieved during the Hexawise POC at Guidewire:
          </large>
          <br>
          <large class="footer-subheader">{{ .Params.contact_1 }}</large>
          {{ if .Params.contact_2 }}
            <br>
            <large class="footer-subheader">{{ .Params.contact_2 }}</large>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<footer class='footer pt-5'>
  <div id="footer" class="hexawise-container container">
    <div class="row mx-auto">
      <div id="footer-logo" class="text-center">
        <a href="https://hexawise.com"><img src="/img/header-logo.svg"></a>
      </div>
      <div id="hexawise-info" class="container text-center">
        <label>
          Hexawise, Inc. ©2009-2021
          <br />
          2530 Meridian Parkway Suite 300 Durham, NC 27713
        </label>
      </div>
      <div>
        <p><b>Contact us</b></p>
        <p><a href="tel:1-877-439-2947">1-877-HEXAWISE</a></p>
      </div>
    </div>
  </div>
</footer>
