<nav id="features-navbar" class="scrollspy-navbar navbar navbar-expand px-0 pb-0 sticky-top">
	<div class="navbar-nav">
	  <a class="nav-item nav-link section-header active" href="#section-1">{{ .Params.section_header_1 }}</a>
	  <a class="nav-item nav-link section-header" href="#section-2">{{ .Params.section_header_2 }}</a>
	  {{ if .Params.section_header_3 }}
		<a class="nav-item nav-link section-header" href="#section-3">{{ .Params.section_header_3 }}</a>
	  {{ end }}
	  {{ if .Params.section_header_4 }}
		<a class="nav-item nav-link section-header" href="#section-4">{{ .Params.section_header_4 }}</a>
	  {{ end }}
	  {{ if .Params.section_header_5 }}
		<a class="nav-item nav-link section-header" href="#section-5">{{ .Params.section_header_5 }}</a>
	  {{ end }}
	</div>
</nav>