<div id="section-1" class="feature-section">
  <div class="row w-100">
    <div class="p-3">
      {{ if .Params.section_icon_1 }}
      <i class="fa fa-{{ .Params.section_icon_1 }}"></i>
      {{ end }}
      <h5 id="section-1-header" class="section-text">{{ .RenderString .Params.section_header_1 }}</h5>
      <div class="row w-100">
        <video muted id='section-1-video' style='width: 100%; height: 100%;'>
          <source src="{{ .Params.section_video_url_1 }}" type='video/mp4'>
        </video>
      </div>
      <div class="row w-100 text-center mb-4">
        <div id="section-1-text">
          {{ .RenderString .Params.section_text_1 }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ if .Params.section_header_2 }}
<div id="section-2" class="feature-section">
  <div class="row w-100">
    <div id="section-2-text">
      {{ if .Params.section_icon_2 }}
      <i class="fa fa-{{ .Params.section_icon_2 }}"></i>
      {{ end }}
      <h5>{{ .RenderString .Params.section_header_2 }}</h5>
      {{ .RenderString .Params.section_text_2 }}
    </div>
  </div>
  <div class="row w-100">
    <video muted id='section-2-video' style='width: 100%; height: 100%;'>
      <source src="{{ .Params.section_video_url_2 }}" type='video/mp4'>
    </video>
  </div>
</div>
{{ end }}

{{ if .Params.section_header_3 }}
<div id="section-3" class="feature-section">
  <div class="row">
    <div class="p-3" id="section-3-text-1">
      {{ if .Params.section_icon_3 }}
      <i class="fa fa-{{ .Params.section_icon_3 }}"></i>
      {{ end }}
      <h5>{{ .RenderString .Params.section_header_3 }}</h5>
      {{ .RenderString .Params.section_text_3_1 }}
    </div>
  </div>
  {{ if .Params.section_video_url_3_1 }}
  <div class="row w-100 p-5">
  	<video controls id='section-3-video-1' style='width: 100%; height: 100%;'>
  		<source src="{{ .Params.section_video_url_3_1 }}" type='video/mp4'>
  	</video>
  </div>
  {{ end }}
  {{ if .Params.section_text_3_2 }}
    <div class="row">
      <div class="px-3" id="section-3-text-2">{{ .RenderString .Params.section_text_3_2 }}</div>
    </div>
  {{ end }}
  {{ if .Params.section_video_url_3_2 }}
  <div class="row w-100 p-5">
    <video controls id='section-3-video-2' style='width: 100%; height: 100%;'>
      <source src="{{ .Params.section_video_url_3_2 }}" type='video/mp4'>
    </video>
  </div>
  {{ end }}
</div>
{{ end }}

{{ if .Params.section_header_4}}
<div id="section-4" class="feature-section">
  <div class="row">
    <div class="p-3" id="section-4-text">
      {{ if .Params.section_icon_4 }}
      <i class="fa fa-{{ .Params.section_icon_4 }}"></i>
      {{ end }}
      <h5>{{ .RenderString .Params.section_header_4 }}</h5>
      {{ .RenderString .Params.section_text_4 }}
    </div>
  </div>
  {{ if .Params.section_image_text_4 }}
    <div class="row">
      <div class="px-3" id="section-4-image-text">{{ .RenderString .Params.section_image_text_4 }}</div>
    </div>
  {{ end }}
  {{ if .Params.section_image_4 }}
    <div class="row">
      <div style="display: flex; align-items: center;">
        <img class="img-fluid" id="section-4-image" src="{{ .Params.section_image_4 }}">
      </div>
    </div>
  {{ end }}
  {{ if .Params.section_video_url_4 }}
    <div class="row w-100 p-5">
      <video controls id='section-4-video' style='width: 100%; height: 100%;'>
        <source src="{{ .Params.section_video_url_4 }}" type='video/mp4'>
      </video>
    </div>
  {{ end }}
</div>
{{ end }}

{{ if .Params.section_header_5 }}
<div id="section-5" class="feature-section">
  <div class="row">
    <div class="p-3" id="section-5-text">
      {{ if .Params.section_icon_5 }}
      <i class="fa fa-{{ .Params.section_icon_5 }}"></i>
      {{ end }}
      <h5>{{ .RenderString .Params.section_header_5 }}</h5>
      {{ .RenderString .Params.section_text_5 }}
    </div>
  </div>
  {{ if .Params.section_image_text_5 }}
    <div class="row">
      <div class="px-3" id="section-5-image-text">{{ .RenderString .Params.section_image_text_5 }}</div>
    </div>
  {{ end }}
  {{ if .Params.section_image_5 }}
    <div class="row">
      <div style="display: flex; align-items: center;">
        <img class="img-fluid" id="section-5-image" src="{{ .Params.section_image_5 }}">
      </div>
    </div>
  {{ end }}
  {{ if .Params.section_video_url_5 }}
    <div class="row w-100 p-4">
      <video controls id='section-5-video' style='width: 100%; height: 100%;'>
        <source src="{{ .Params.section_video_url_5 }}" type='video/mp4'>
      </video>
    </div>
  {{ end }}
</div>
{{ end }}