@import '../new_site/colors.scss';
@import '../new_site/fonts.scss';

#blog-post {
  margin-bottom: 3rem;

  .form-group {
    .form-control, .bootstrap-tagsinput {
      width: 98%;
      border: 1px solid #bbb;
      border-radius: 3px;
    }

    .bootstrap-tagsinput {
      input, input:focus {
        border: 0px;
        box-shadow: none;
      }
    }
  }

  .actions {
    .btn {
      margin-right: 1rem;
    }
  }
}

#blog-posts-table {
  [class*="_row"] {
    width: 10%;
  }
}
