#error-container {
  background-image: image-url('new_site/backgrounds/cloud.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 600px;

  @include media-breakpoint-only(xs) {
    height: 400px;
    background-size: 125%;
  }

  .container {
    max-width: 625px;
  }
}