#request-confirmation-container {
  background-image: image-url('new_site/backgrounds/cloud3.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 668px;
}