// This is all a mess.  Lots of global rules, but because of the setup, very little to actually be able to *cleanup*
.admin_tabnav {
	color: $hex_orange;
	border-bottom: 2px solid $hex_purple;
	margin: 13px 0px 0px 0px;
	padding: 3px 0 4px 10px;
	z-index: 1;

	a {
		color: #FFF;
		background: $hex_orange;
		font-weight: bold;
		border: 2px solid $hex_purple;
		padding: 2px 5px 0px 5px;
		margin: 0;
		text-decoration: none;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;	

		&:hover {
			color: $hex_purple;
			background-color: #CCC;
		}

		&.active {
			color: $hex_purple;
			background: #FFF;			
			border-bottom: 3px solid #FFF;

			&:hover {
				background: #FFF;
				color: $hex_purple;
			}
		}
	}

	ul {
		margin: 0 0 -4px 0;
		padding: 0px;

		li {
			display: inline;
			overflow: hidden;
			list-style-type: none;
			margin-left: 5px !important;

			span.disabled {
		    color: $hex_gray;
		    background: #FAFAFA;
		    border: 2px solid #DDDDDD;
		    border-bottom: none;
		    padding: 2px 5px 0px 5px;
		    margin: 0;
		    text-decoration: none;
		  }		
		}
	}
}

.admin_tabnav_content {
	background: #FFFFFF;
	padding: 20px;
	border: 2px solid $hex_purple;
	border-top: none;
	z-index: 2;

	h2 {
		font-size: 15px;
		margin-bottom: 10px;
	}
}

#users, #users table, #user_search, #recent_users, #user_search table,
#recent_users table, #active_users table, #export-fields table,
#new-export-field table,table#system-messages {
    // width: 950px; 
    margin-top: 10px;
}

#users th, #user_search th, #recent_users th, #active_users th,
#new-export-field, #export-fields th, #system-messages th,
#auto-script-export-fields th {
	color: $hex_purple;
}

#users td, #user_search td, #recent_users td, #active_users td,  #system-messages td {
	padding-top: 6px;
	padding-bottom: 6px;
}

#active_users td {
	padding-left: 6px;
}

#users tr.even, #user_search tr.even, #recent_users tr.even,
#active_users tr.even, #export-fields tr.even, #export-fields-table tr.even,  #system-messages tr.even,
#auto-script-export-fields tr.even {
	background: #E6E6E6;
}

#new-export-field th, #export-fields th, #auto-script-export-fields th { text-align:left; }

#new-export-field th, #new-export-field td, #export-fields th, #export-fields td, #auto-script-export-fields th, #auto-script-export-fields td { padding:12px 6px; }

#detailed_info td { 
	background: $hex_orange; 

	a:hover {	color: white; }
}

#backend_user_reg input {
	font-size: 14px;

	&:focus {
		color: black;
		background-color: $hex_orange;		
	}
}

.admin-error {
  background-color: #FFCCCC;
  border: solid 1px #CC6666;
  padding:5px;
  margin:15px 0;
}

label.admin-user-search, #admin_tabnav_content label { display:inline; }

fieldset#admin-user-search { padding: 5px; }

#backend_user_reg input[type="checkbox"] { margin-bottom: 0.3em; }

#new-system-message { margin-top: 35px; }

.new_system_message .field, .edit_system_message .field,
.new_system_message .actions, .edit_system_message .actions {
    margin-top: 10px;
}

#blocked-domains {
	.message { width: 60%; }
	#domain_block_message { margin-left: -15px;}
	.alert-danger {
		padding: 10px;
		margin-bottom: 10px;
	}
}

#registration-domains {
	select {
		width: auto;
		display: inline;
	}

	h2 { margin-left: 10px; }

	.no-domains { margin-left: 5px; }
	
	.domain-list {
		height: 400px;
		overflow-y: auto;
		margin: 0 5px;

		.domain {
			margin: 5px 20px 5px 5px;
			padding-bottom: 2px;
		}

		.domain:hover { background-color: #fcf8e3; }
		i {color: #FFF; }
	}
}

#warning-message {
	text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.image_url_field img {
	width: 100px;
}

.cohort-container {
	margin-left: 100px;

	table {

		th, td {
			max-width: 60px;
		}

		.left-column {
			width: 120px;
		}
	}
}

#existing-export-configs, #new-export-config-form {
  form {
    margin: 10px 0;

    label {
      padding-right: 5px;
    }

    .form-group {
      padding-right: 15px;
    }

    .submit-button {
      margin-right: 15px;
    }

    .export-config-delete-button {
      color: white;
      float: right;
    }
  }

  label {
    font-weight: bolder;
  }
}

#flash.admin-flash {
  background-color: $flash_color;
  color: red;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
  width: 100%;
}