/* Primary logo colors */
$hex_purple: #7265C4;
$hex_blue: #009CF4;
$hex_yellow: #EBC900;
$hex_orange: #F69029;
$hex_logo_green: #7CD927; /* unfortunately this is not a great color for UI elements */
$hex_logo_red: #EB272B; /* unfortunately this is not a great color for UI elements */

$hex_green: green;
$hex_red: red;

/* Secondary colors */
$hex_light_orange: #FAC38B; /* Less saturated Hex orange */
$hex_gray: #888888;

/* Colors used throughout the app */
$flash_color: #FFFADE;

/* Constant values */
$min_body_width: 1155px;
