@media (min-width: 768px) {
  .form-search, .form-inline {
    .combobox-container {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: top;
      .input-group-addon {
        width: auto;
      }
    }
  }
}

.combobox-selected .caret {
  display: none;
}

.combobox-container:not(.combobox-selected) .fa-times {
  display: none;
}

.combobox-container {
  .input-group {
    margin-right: 6px;

    input {
      padding: 4px 4px 4px 0;
      width: 99%;
    }
  }
}

.typeahead-long {
  max-height: 350px;
  width: 100%;
  overflow-y: auto;

  a { text-decoration: none; }
}

.control-group.error .combobox-container{
  .add-on {
    color: $hex_red;
    border-color: $hex_red;
  }
  .caret {
    border-top-color: $hex_red;
  }
}

.control-group.warning .combobox-container {
  .add-on {
    color: $hex_yellow;
    border-color: $hex_yellow;
  }
  .caret {
    border-top-color: $hex_yellow;
  }
}

.control-group.success .combobox-container{
  .add-on {
    color: $hex_green;
    border-color: $hex_green;
  }
  .caret {
    border-top-color: $hex_green;
  }
}