.tpd-content {
  // overriding tipped.css line 47, which makes the tooltips too big on Safari and Chrome.
  box-sizing: content-box !important;
}

.panel.panel-hexawise {
  .panel-heading > .panel-heading-links > #strength-picker {
    margin-left: 5px;
    margin-bottom: -5px;
    display: inline-block;
  }

  .panel-body {
    position: relative;
    min-height: 90%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .combination-list-table {
      div.mixed-strength-hint {
        max-width: 525px;
        font-weight: normal;
        padding: 10px;

        #mixed-strength-hint-hide {
          padding-top: 5px;

          a {
            color: $hex_purple;

            &:hover {
              color: $hex_orange;
            }
          }
        }
      }

      div.invalid-strength {
        padding: 1em;
        font-size: 125%;
      }

      .popover {
        z-index: 9998 !important;
      }

      .hover,
      .selected,
      tr:hover > td:not([class*='sorting_']) {
        color: #fff;
        background-color: $hex_orange !important;

        i {
          color: #fff;
        }
      }

      #combination-results-table_wrapper {
        margin: 0;

        #combination-header-data {
          display: block;
          margin-top: -2px;
          padding-right: 10px;

          div#combination-results-table_filter.dataTables_filter {
            text-align: left;

            label {
              width: 100%;
              padding-top: 5px;
              padding-left: 3px;

              #combination-export-dropdown {
                height: 18px;
                margin: 5px 5px 5px 3px;
                float: right;
                width: 94%;
                max-width: 165px;
                min-width: 85px;
              }

              input[type='search'] {
                width: 94%;
                float: left;
                height: 18px;
                max-width: 250px;
                min-width: 85px;
                margin: 5px 5px 5px 3px;
                padding-left: 5px;
              }

              div.counters {
                float: left;
                padding-top: 10px;
                padding-bottom: 10px;

                div.counter {
                  float: left;

                  &.case-counter {
                    padding: 0 5px 0 5px;
                  }

                  &.strength-counter {
                    padding: 0 5px 0 15px;
                  }

                  span.combination-case-count {
                    font-weight: bold;
                  }
                }

                #strength-info {
                  color: $hex_purple;
                  margin-left: 5px;
                  margin-top: -1px;
                  font-size: 14px;
                }
              }
            }
          }
        }

        .dataTables_scrollHeadInner .dataTable {
          margin-left: -1px !important;
        }

        .dataTables_scrollHeadInner .dataTable,
        #combination-header-data {
          border-right: 2px solid $hex_purple;
        }

        div.DTFC_ScrollWrapper {
          table.dataTable tr.frozen {
            &.even {
              background-color: lighten(rgb(49, 176, 213), 25%);
            }

            &.odd {
              background-color: lighten(rgb(49, 176, 213), 40%);
            }
          }

          .dataTables_scrollHeadInner,
          .DTFC_LeftHeadWrapper {
            margin-top: -6px;

            .dataTable th {
              border-top: 2px solid $hex_purple !important;
              border-bottom: 2px solid $hex_purple !important;
            }
          }

          div.dataTables_scroll {
            div.dataTables_scrollHeadInner .dataTable th.sorting_disabled {
              position: relative;
            }

            div.dataTables_scrollBody {
              table.dataTable#combination-results-table {
                border-bottom: 2px solid $hex_purple;
                border-right: 2px solid $hex_purple;

                th:hover {
                  background-color: #ddd;
                  color: #000;

                  a {
                    color: #000;
                  }
                }

                th.sorting,
                th.sorting_asc,
                th.sorting_desc {
                  background-color: #ddd;
                  border-bottom: 0px;
                }

                td span.any-value { color: $hex_purple; }
                
                tr:not(.selected) > td.sorting_1 {
                  background-color: #e5e1f2;
                }
              }
            }
          }

          div.DTFC_LeftWrapper .DTFC_LeftBodyLiner table {
            border-bottom: 2px solid $hex_purple;
          }
        }
      }
    }
  }
}

// "ad-hoc" CSS rules

#scorecard,
.analysis-chart {
  #strength-picker {
    float: right;
  }
}

#strength_picker_form {
  display: inline-block;
  margin: -2px 0 -5px 5px;
}

.t_ContentContainer {
  font-size: 15px;

  p {
    margin: 10px;
  }
}

span#combination-strength-message,
span#combination-strength-message i {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

table.combination-data {
  font-size: 15px;

  td {
    padding-bottom: 15px;
    text-align: left;

    &#strength_hint {
      padding-left: 20px;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dataTables_scrollHeadInner .dataTable,
  #combination-header-data {
    margin-left: 0px !important;
  }
}

// in a modalbox
div#MB-content > div#strength-explanation {
  line-height: 1.2em;

  p {
    margin: 15px 0;
  }

  ul {
    list-style-type: none;
    line-height: 1.2em;
    margin-left: 25px;

    &.numbered {
      list-style-type: decimal;
    }
  }
}
