#export-form {
  margin: 0 20px;

  #export-error-message, #required-fields-missing {
    color: red;
    text-align: left;
    font-weight: bold;
    margin: 0 0 5px 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #data-export-dialog {
    #export-options {
      #export-options-without-buttons {
        margin-left: 19px;
      }
      .export-config-menu li {
        margin-left: 0px;
      }

      #data-export-options {
        margin-top: 10px;

        #excel-notice {text-align: left; font-weight: bold;}

        .export-option-container {
          float: left;

          .export-option-help-icon {
            float: right;
            margin-right: 5px;
            padding: 10px;
          }

          .data-export-toggle {
            display: inline;

            .data-export-icon {
              width: 75px;
              margin: 0 auto 5px auto;
            }

            .data-export-name {
              font-size: 13px;
            }
          }

          label.btn {
            width: 155px;
            height: 100px;
            display: block;
            margin-right: 5px;
            margin-bottom: 5px;
            background-repeat: no-repeat;
            background-size: contain;
            background-origin: content-box;
        
            &.disabled {
              pointer-events: none;
            }

            &.active {
              background-color: rgba(114, 101, 196, 0.75); // hex purple, 0.75% opacity
              color: white;
            }
          }
        }
      }

      .export-field {
        line-height: 50px;

        button {
          margin: 0;
          width: 120px;
        }

        select {
          margin-right: 10px;
          width: 170px;
          display: inline-block;
          *position: relative;
          *top: -10px;
        }

        .export-controls {
          float: right;
        }
      }

      textarea {
        width: 96%;
        height: 50px;
      }

      #plan_export_fields {
        margin: 0 -25px;

        .ui-accordion-header-collapsed {
          border-color: rgb(0, 50, 204);
          background-color: rgb(0, 102, 204);
          background-image: none;
          color: rgb(255, 255, 255);
        }
      }

      .export-option {
        overflow-y: hidden;
      }
    }
  }

  .export-fields-overflow {
    margin-top: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    border: 1px solid black;

    tr.has-error {
      background-color: #813432;
      td.export-field-name {
        color: #D3D3D3;
      }
    }
  }
}

#dialog-spinner {margin-top: -5px; width: 32px; height: 32px; position: relative; float: left; right: -125px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #dialog-spinner{right: -150px;}
}