#error-summary h2, #error-details h2 {
  font-size: 16px;
  font-weight: bold;
}

#error-summary {
	h2, p {  margin: 20px; }

	p {
		font-size: 120%;
		max-width: 500px;
	}
}

#error-summary .error-data {
  margin-top: 20px;
}

#error-details .error-data-section {
	margin-bottom: 15px;
	
	code {
		line-height: 2em;
	}
}