/* --- Begin CSS reset --- */
html, body, div, h1, h2, h3, p, a, font, img, form, label {
	margin: 0; 
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

:focus { outline: 0; } /* remember to define focus styles! */
/* --- End CSS reset --- */

a {
	&:link, &:active, &:visited {
		color: $hex_purple;
		text-decoration: underline;
	}

	&:hover { color: $hex_orange; }
}

body { 
	line-height: 1;
	min-width: $min_body_width;
  font-family: Arial,Verdana,sans-serif;
  font-size:12px;
	overflow: auto !important;
}

em, .fa, .far, .fas {
	color: $hex_purple;
}

img { border:0; }

p { line-height: 1.2; } // 1.2...what?
