body,
#south {
  background-color: #ccc !important;
}

body {
  &.content,
  &.content #south {
    background-color: #fff !important;
  }
}

#north {
  width: 100%;
  min-width: $min_body_width;

  #banner {
    background: image-url('hexawise/banner_bg.jpg') repeat-x 0 0;
    height: 85px;
    padding-top: 7px;
  }

  #banner-spacer {
    height: 20px;
    float: left;
    width: 1%;
  }

  #logo {
    background: image-url('hexawise/logo_no_tagline.png') no-repeat 0 0;
    height: 65px;
    width: 270px;
    float: left;
    margin-left: 5px;
    margin-top: -2px;
    padding-right: 15px;
  }

  #logo-with-tagline {
    background: image-url('logo.png') no-repeat 0 0;
    height: 85px;
    width: 250px;
    float: left;
    margin-left: 15px;
    padding-right: 15px;
  }
}

#south {
  #footer {
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
    color: #555;
    position: relative !important;

    div {
      display: inline;
    }
  }
}

#main {
  padding: 10px;
}

#main,
body {
  &.content #content {
    padding: 30px;
    width: 1025px;
    margin: 0 auto;
  }
}

body.content #south #footer {
  width: 100%;
  text-align: center;
  position: relative !important;
  bottom: -7px;
}

#south,
#north {
  min-width: $min_body_width;
}

html {
  height: 100%;

  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column nowrap;

    #north {
      z-index: 3;
    }

    #south {
      width: 100%;
      position: fixed;
      bottom: 0;

      #footer {
        margin-bottom: 15px;
      }
    }

    #center {
      height: calc(100% - 140px);

      #content {
        height: 100%;

        div.panel-hexawise {
          height: 100%;
          overflow-y: auto;
          border-color: $hex_purple;
          margin: 0px 10px;

          div.panel-heading {
            padding: 5px;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            background-image: image-url('hexawise/purple_gradient_invert.png');
            top: 0;

            .panel-heading-links {
              a {
                color: #fff;
                cursor: pointer;
                font: normal 11px arial, tahoma, helvetica, sans-serif;
                text-decoration: underline;

                i {
                  text-decoration: none;
                }
              }
            }
          }

          div#npv-warning-banner {
            top: 25px;
          }

          div.panel-heading.secondary {
            padding-top: 7px;
            border-radius: 0px;
          }

          .header-icons {
            color: white;
            font-size: 14px;
            margin-left: 5px;
            margin-right: 5px;
          }

          span.panel-header-link {
            color: #fff;
            font-weight: normal;
            text-decoration: underline;
          }

          .loading {
            top: calc(50% - 13px);
            text-align: center;
            position: relative;
            font-size: 26px;
            font-weight: bolder;
          }

          .loading-mask {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 20000;
            background-color: white;
          }

          .loading-content {
            position: absolute;
            left: 42%;
            top: 40%;
            padding: 2px;
            z-index: 20001;
            height: auto;

            .loading-indicator {
              background: white;
              font-weight: bold;
              font-size: 13px;
              padding: 10px;
              margin: 0;
              height: auto;
            }
          }

          .loading-msg {
            margin: auto;
            text-align: center;
            font-size: 10px;
          }
        }
      }
    }
  }
}
