$activeColor: $hex_purple;

#modal-container *,
#modal-container *:before,
#modal-container *:after {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}

#modal-container {
  font-size: 14px;

  .modal-dialog {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);

    &.modal-dialog-open {
      position: absolute;
    }

    .modal-content {
      .modal-header {
        color: white;

        button {
          padding: 5px 20px;
          span {
            color: white;
            font-size: 26px;
          }
        }

        .modal-title {
          @extend .truncated;

          #title-info-circle {
            color: white;
          }
        }
      }

      .modal-body {
        margin-bottom: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        line-height: 1.3em;

        a {
          color: $activeColor;
          cursor: pointer;
        }

        .loading-message {
          font-size: 1.5em;
          padding: 20px;
          text-align: center;
        }

        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(360deg);
          }
        }

        .spinner {
          animation: rotation 2s infinite linear;
        }

        .dialog-buttons {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          padding-top: 15px;

          button, .cancel-link {
            margin: 0px 5px;
          }
        }

        #error-message {
          color: $hex_red;
          margin: 10px 0;
        }
      }
    }
  }
}
