#panel-header-buttons {
  margin: -6px 5px -4px 5px;
  font-size: 10px;

  i { margin-right: 5px; }
  
  a.btn.active, button.btn.active {
    background-color: $hex_orange;
    color: white;

    i { color: white; }
  }
  
  a.btn, button.btn {
    padding: 0px 5px;
    color: $hex_purple;
  }
}

.note-icon-container {
  #note-count {
    text-decoration: none !important;
  }
}

#as-delete-all-steps-link {
  text-decoration: underline !important;
}