#parameters {
  display: flex;
  flex-flow: column nowrap;

  .header-icons {
    margin-left: 5px;
    margin-right: 5px;
  }

  #parameter-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;

    #parameter-list {
      width: 100%;

      .no-parameter-message-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        .no-parameter-message {
          font-size: 14px;
          font-weight: bolder;
          text-align: center;
        }
      }

      div.table-container {
        table.slickList.parameters {
          tbody#parameter-rows tr {
            th.parameter-name-arrows {
              div.parameter-arrows i {
                margin: -5px 0px -5px 3px;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            .parameter-arrows, .parameter-new {
              visibility: hidden;
            }

            &:hover {
              .parameter-arrows, .parameter-new {
                visibility: visible;
              }
            }

            th.parameter-name-new > div.parameter-new {
              margin: 0 5px;
              width: 15px;
              text-align: center;

              i {
                color: $hex_green;
                &.fa-chevron-up {
                  margin-top: 0px;
                }

                &.fa-plus-circle {
                  margin-top: 0px;
                }
              }

              &:hover {
                cursor: pointer;
              }
            }

            td.pv-cell {
              border-top: 1px solid #ddd;

              div.parameterValueTable {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                height: 36px;
                justify-content: space-between;

                div.parameterValueCell {
                  &:first-child { // empty div
                    width: 16px;
                  }
                }

                div.valueExpansionCell {
                  .value-expansion-icon {
                    position: relative;
        
                    a {
                      text-decoration: none;

                      i {
                        font-size: 20px;
                      }
                    }
        
                    .badge {
                      background-color: $hex_purple;
                      color: #fff;
                      font-size: 10px;
                      padding: 1.5px;
                      position: absolute;
                      right: -8px;
                      top: -5px;
                      z-index: 0;
                    }
        
                    &.read-only a {
                      cursor: text;
                    }
                  }
                }
              }
            }

            &#new-parameter-row {

              i.fa-plus-circle {
                color: $hex_green;
              }

              i.fa-times-circle {
                color: $hex_red;
              }

              th.new-parameter-th {
                min-width: 150px;

                &:hover {
                  color: #fff;
                  background-color: $hex_orange;
                  cursor: pointer;

                  i {
                    color: #fff;
                  }
                }
              }

              td#new-parameter-td {                
                background-color: #ddd;
                border-top: 1px solid #fff;
                height: 49px;

                a#clear-example-params {
                  font-weight: bold;
                  font-size: 13px;
                  color: black;

                  &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    .loading {
      height: 100%;
      width: 100%;
    }
  }
}

.parameterValueCell {
  padding: 8px;
  max-width: 200px;
}
