div#parameters {
  div#parameter-body {
    form#bulk-edit-form {
      height: calc(100% - 90px);
      width: 100%;

      textarea.bulk-edit#parameter_values {
        margin: 10px;
        overflow: scroll;
        height: 100%;
        width: calc(100% - 28px);
      }

      #bulk-edit-actions {
        margin-top: 10px;

        #bulk-edit-submit {
          margin-right: 5px;
        }

        input.btn,
        a#bulk-edit-reset {
          margin-left: 10px;
          &.disabled {
            pointer-events: none;
          }
        }

        i {
          color: #fff;
        }
      }
    }
  }
}

div#MB_content {
  #parameter-form {
    p.spacer {
      margin-top: 20px;
    }

    textarea#parameter_values {
      height: 250px;
      width: 515px;
    }

    button.dialog-buttons,
    a.cancel-link {
      margin-left: 10px;
    }
  }

  #edit-pv {
    margin-left: 10px;

    #parameter_value_value {
      width: 300px;
    }

    button.btn,
    a.cancel-link {
      margin-left: 10px;
    }
  }
}

textarea#parameter_values {
  resize: none;
}
