#password-validation-list, #password-confirmation-validation {
    font-size: 1.3em;

    ul {
        padding-left:0;
    }
        
    li {
        list-style:none;
        overflow: visible;
        padding-left: 20px;
        position: relative;
        color:green;
    }

    li:before {
        content: "☑";
        left: 0;
        position: absolute;
    }
    
    li.invalid {
        color:red !important;
        background-color: white !important;
    }
    
    li.invalid:before {
        content: "☐";
        left: 0;
        position: absolute;
    }
}
