#plan-revisions { margin-bottom: 20px; }

.versions-icon-container {

  margin-left: 3px;

  i {
    color: white;
    font-size: 14px;
    margin: 0 3px;
  }

  span.panel-header-link {
    color: #FFF;
    font-weight: normal;
  }
}

div.versions {
  max-height: 400px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  table { margin-bottom: 0; }

  span.no-possible-value-display i {
    color: red;
  }

  i.action-icon {
    visibility: hidden;
  }

  tr:hover i.action-icon.reverting {
    color: #DDD;
    cursor: not-allowed;
  }

  tr:hover i.action-icon {
    visibility: visible;
    cursor: pointer;
  }

  td { vertical-align: inherit !important; }

  .actions {
    font-size: 0.9em;
    width: 4em;

    i { margin-right: 3px; }
  }

  #search-button {
    margin: -5px 0 0 20px;
    width: 120px;
  }

  #search-spinner {
    line-height:34px;
    top: -9px;
    right: 4px;
  }

  input {
    padding: 0 6px;
    margin: -1px 10px -1px 0;
    height: initial;
    display: inline;
  }

  #search-input { width: 190px; }
  #label-input  { width: 75px;  }

  #search-cancel-link {
    color: $hex_purple;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;

    &:hover {
      text-decoration: underline;
    }
  }

  .revision            { width: 5em; text-align: center; }
  .no-possible-values  { width: 10px; }
  .update              { width: 299px; }
  .parameters          { width: 85px; text-align: center; }
  .plan-test-cases     { width: 7em; text-align: center; }
  .test-cases-strength { font-size: 85%; }
  .by                  { width: 180px; }
  .date                { /* auto */ }

  .label {
    color: $hex_purple;
    padding: .2em .6em .3em;
    border-radius: .25em;
    border: solid 1px #CCC;
  }

  .log-label.reverting { cursor: not-allowed; }
  .log-label { cursor: pointer; }
}
