.quiz-question { margin: 15px 0; }

a.quiz-hint { text-decoration:none; }

.t_ContentContainer img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.wizard-nav-link .fa-chevron-right {
	margin-top: 15px;
	text-decoration:none;
}