#search-bar-group {
  margin-bottom: 5px;

  #clear-search-button {
    .fa, .fas, .far {
      color: white;
    }
  }
}

@supports (font-variation-settings: normal) {
  .tpd-skin-light-revisions .tpd-content { font-family: 'Fira Code VF', monospace; }
}
