#plan_value_expansions_name {
	font-size: 120%;
    margin-bottom: 20px;
}

#expanded-values {
	margin-top: 0.4em;
	height: 1.4em;
	font-size: 120%;

	#title { float: left; }
	
	.radio-button {
		float: right;
		margin-right: 15px;

		input {
			display: inline;
			vertical-align: top;
		}
	}
}

#plan_value_expansion {
    width: 515px;
    height: 200px;
    resize: none;
}