div.faq_qa_category {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;

	h2 { font-size: 1.3em; }
}

div.toc {
	margin-top: 20px;

	ul {
		margin-top: 0px;

		li {
			font-size: 1.2em;	
			line-height: 1.3em;
			list-style-type: none;
			padding: 2px;
			padding-bottom: 8px;
		}
	}
}