/* Fix for Rails 3 divs causing line breaks */
.button_to, .button_to div, div.field_with_errors { display: inline; }

.extended { width: 125px !important; }

.green { 
  color: green;
  font-weight: bold; 
}

.highlight { color: $hex_purple; }

.invalid, .invalid:focus {
	color: white !important;
	background-color: red !important;
}

.red { 
  color: red;
  font-weight: normal; 
}

.underlined { border-bottom: 1px solid #EEE; }

.hint-text { color: #999; }

.cursor-pointer {cursor: pointer;}

/* Color classes used in e.g. icon styles */
.hex-red-text {color: $hex_red; }
.hex-green-text {color: $hex_green; }

.loading-message {
	font-size: 25px;
	font-weight: bold;

	i { color: #000 !important; }
}

.sticky-banner {
  padding: 10px;
  background-color: $flash_color;
  color: black;
  border: 1px solid #aaa;

  &#npv-warning-banner {
    background-color: #FFDEDE;
  }

  p {
    padding: 5px 0;
  }
}

.d-block {
  display: block;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}
