.matrix-container {
  overflow: auto;
  position: relative;
}

.col-legend-container {
  overflow: auto;
}

.drawing-container {
  overflow: auto;
  display: flex;
}

.control-panel {
  max-width: 600px;
  padding: 2em;
}

.control-panel__header {
  display: flex;
  justify-content: space-between;
}

.control-panel__headline {
  font-size: 2em;
}

.control-panel__slider {
  margin: 1.5em 0;
  position: relative;
}

.control-panel__slider-input {
  position: relative;
  z-index: 100;
}

.control-panel__slider-marker {
  position: absolute;
  z-index: 50;
}

.control-panel__slider-marker-knob {
  position: relative;
  top: -9px;
  width: 35px;
  height: 35px;
  border-radius: 24px;
  background: #b6afe0;
  opacity: 0.6;
}

.control-panel__stats {
  display: flex;
  justify-content: space-between;
}

.control-panel__stat {
  font-size: 1.2em;
  font-weight: bold;
}

.control-panel__stat--highlight {
  color: $hex_purple;
}

.matrix-container {
  padding: 0 2em;
}

.control-panel__instructions {
  margin: 1em 0;
  padding: 1em 0;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.control-panel__instructions-text {
  font-size: 1.1em;
  font-weight: bold;
}

.matrix-cell-table {
  font-size: 1.2em;
}

.matrix-cell-table__th {
  font-weight: bold;
  text-align: left;
}

.matrix-cell-table__th,
.matrix-cell-table__td,
.matrix-cell-table__small {
  padding: 0.5em;
  vertical-align: middle;
}

.matrix-hover-tooltip {
  position: absolute;
  background: #333;
  border-radius: 3px;
  color: white;
  padding: 1em;
  pointer-events: none;
}
