@import '~bootstrap/scss/bootstrap';
@import "stylesheets/bootstrap_and_overrides.scss";
@import "stylesheets/colors.scss";
@import "stylesheets/features.scss";
@import "stylesheets/hexawise.scss";
@import "stylesheets/landing.scss";

.section-header {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 27px;
	font-family: "HarmoniaSansStd-Bold", sans-serif;
}

.section-text {
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	line-height: 44px;
	font-family: "CeraPro-Bold", sans-serif;
}

.title-header {
	color: white;
	font-weight: normal;
	font-size: 44px;
	line-height: 61px;
	font-family: "CeraPro-Bold", sans-serif;
}

.title-subheader {
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	font-family: "HarmoniaSansStd-Regular", sans-serif;
}

.intro-header {
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	line-height: 38px;
	margin-bottom: 0.5rem;
	font-family: "CeraPro-Medium", sans-serif;
}

.intro-body {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 27px;
	margin-bottom: 1rem;
	font-family: "HarmoniaSansStd-Regular", sans-serif;
}

.footer-header {
	color: white;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 61px;
	font-family: "CeraPro-Bold", sans-serif;
}

.footer-subheader {
	color: white;
	font-weight: normal;
	font-size: 18px;
	font-style: normal;
	line-height: 30px;
	font-family: "HarmoniaSansStd-Regular", sans-serif;
}

/* TODO: Add CeraPro and Harmonia Sans */
