@import '~bootstrap/scss/bootstrap';
@import "stylesheets/bootstrap_and_overrides.scss";
@import "stylesheets/colors.scss";
@import "stylesheets/features.scss";
@import "stylesheets/hexawise.scss";
@import "stylesheets/landing.scss";

.title-header {
	color: white;
	font-weight: bold;
	font-size: 44px;
}

.title-subheader {
	font-weight: normal;
	font-size: 24px;
}

.footer-header {
	color: white;
	font-weight: bold;
	font-size: 38px;
}

.footer-subheader {
	color: white;
	font-weight: normal;
	font-size: 18px;
}

.hexawise-container {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background: radial-gradient(505.00px at 50% 50%, #775BC2 0%, rgba(119, 91, 194, 0) 100%);
	background-size: 95%;
	animation: fadeIn 0.5s linear 0.5s forwards;
}

/* TODO: Add CeraPro and Harmonia Sans */
