body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #444;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-title {
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 500;
}

svg text {
	fill: #444;
}

.column-label {
  font-size: 1.35rem;
}

.test-label {
  font-size: 1.35rem;
  font-weight: normal;
}

.grid-label {
	font-size: 0.625rem;
}

.chart-title {
  opacity: 0;
  transition: opacity 0.5s;
}

.chart-container + .chart-title {
	margin-top: 4rem;
}

.chart-container {
  opacity: 0;
  transition: opacity 1.0s;
}

.accent-good {
	color: #7258c0;
}

.accent-bad {
	color: #777;
}

.container-group {
  position:relative;
}

.sub-container {
  display: flex;
  min-height: 612px;
  min-width: 1230px;
}
