<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Title }}</title>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <strong>{{ .Description }}</strong>
    <h6>Hexawise is a <u>test design optimization tool</u> that allows users to quickly generate tests from a model of variation ideas of their System Under Test.</h6>
    <div class="d-flex flex-lg-nowrap flex-wrap align-items-center">
    <div>
      <p>{{ .Params.intro_blurb_1 }}</p>
      <p>{{ .Params.intro_blurb_2 }}</p>
    </div>
    <img src="/static/img/hexawise-tosca.png" width="800" height="400">
  </div>
    <article class="content">
      {{ .Content }}
    </article>
  </body>
</html>