{{ define "main" }}
{{ partial "topnav.html" . }}
{{ partial "header.html" . }}
{{ partial "intro.html" . }}
<div id="features-container" class="hexawise-container container d-none d-md-block">
  {{ partial "navbar.html" . }}
  {{ partial "sections.html" . }}
</div>
{{ partial "footer.html" . }}
<script>
  function conditionallyPlayVideo(videos) {

    var video;

    for (video in videos) {
      var x = videos[video].offsetLeft,
          y = videos[video].offsetTop,
          w = videos[video].offsetWidth,
          h = videos[video].offsetHeight,
          r = x + w, //right
          b = y + h, //bottom
          visibleX,
          visibleY,
          visible;

      if (window.pageXOffset >= r ||
          window.pageYOffset >= b ||
          window.pageXOffset + window.innerWidth < x ||
          window.pageYOffset + window.innerHeight < y
         ) {

        return;
      }

      visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
      visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

      visible = visibleX * visibleY / (w * h);

      const threshold = 0.4;

      if(visible > threshold && !videos[video].ended) {
        videos[video].play()
      }
    }
  }

  function checkScroll() {
    conditionallyPlayVideo(document.getElementsByClassName('autoplay'))
  }

  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>
{{ end }}